{% extends "base.html" %}

{% block content %}<div class="p1">
<h3>Удалить материал</h3>
     <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.type.label }}<br>
            {{ form.type }}<br>
            {% for error in form.type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.obj.label }}<br>
            {{ form.obj }}<br>
            {% for error in form.obj.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>{{ form.submit() }}</p></form></div>
{% endblock %}