{% extends "base.html" %}
{% block content %}

<html>
    <body><div style="text-align:center;">
         <table style="" width="30%" border="0" align="center" ><br><hr><h2>Материал остатки</h2><hr>
         <thead>
            <tr align="left">
                <th width="15%">ID</th>
                <th width="75%">Материал </th>
                <th width="15%">куб.м.</th>

            </tr>
         </thead>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.obj }}</td>
            </tr>
            {% endfor %}
         </table></div>
    </body>
</html>
{% endblock %}